<div class="box">
    <div class="login-box">
        <div class="text-center">
            <h1>领投宝投顾平台</h1>
            <div class="error-indiv">
                <div class="error-div ng-cloak" ng-cloak ng-show="vm.loginError.error_flag">
                    </span><span class="span-margin">{{vm.loginError.error_info}}</span>
                </div>
            </div>

            <form name="form" ng-submit="vm.submit(form)" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="login_account" name="login_account" ng-model="vm.login_account" required
                               ng-focus="vm.loginError.error_flag = false"
                               ui-validate="{accountValid: 'vm.accountValidator($value)' }"
                               class="res-form-control" placeholder="用户名">
                        <span class="iconfont icon-color">&#xe61b;</span>
                    </div>
                    <div ng-messages="form.login_account.$error" ng-show="form.login_account.$touched">
                        <p ng-message="required" class="pull-left margin-red">账号是必须的</p>
                        <p ng-message="accountValid" class="pull-left margin-red">{{vm.accountValidInfo}}</p>
                    </div>
                    <div class="input-group input-group-margin">
                        <input type="password" id="password" name="password" ng-model="vm.password" required
                               ng-focus="vm.loginError.error_flag = false"
                               ui-validate="{passwordValid: 'vm.passwordValidator($value)' }"
                               autocomplete="off" class="res-form-control" placeholder="密码">
                        <span class="iconfont icon-color">&#xe62a;</span>
                    </div>
                    <div ng-messages="form.password.$error" ng-show="form.password.$touched">
                        <p ng-message="required" class="pull-left margin-red">密码是必须的</p>
                        <p ng-message="passwordValid" class="pull-left margin-red">{{vm.passwordValidInfo}}</p>
                    </div>
                    <div class="form-group form-group-margin">
                        <input type="submit" class="btn-height-width" value="{{vm.loginName}}" ng-disabled="vm.loginDisabled"/>
                    </div>
                    <a class="pull-right" ng-click="vm.forgetPwd()">忘记密码？</a>
                </div>
            </form>
        </div>
    </div>
</div>